*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color:#424242
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
